<input type="text" [(ngModel)]="searched" (keyup)="search()">
<span>
  <a mat-icon-button matTooltip="Add a consumer"
      routerLink="/consumer/new">
    <mat-icon>person_add</mat-icon>
  </a>
</span>

<table>
  <tr>
    <th>Id</th>
    <th>Civility</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let consumer of consumerObs|async">
    <td>{{consumer.id}}</td>
    <td>{{consumer.civility}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>{{consumer.email}}</td>
    <td>
      <span>
        <a mat-icon-button matTooltip="edit consumer"
            [routerLink]="['/consumer', consumer.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </span>
      <span>
        <a mat-icon-button matTooltip="delete consumer"
            (click)="delete(consumer.id!)">
          <mat-icon>delete</mat-icon>
        </a>
      </span>
    </td>
  </tr>
</table>


