<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p>
    <label for="login">Login</label>
    <input type="text" id="login" formControlName="login">
    <span *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.errors">
        <span *ngIf="loginForm.get('login')?.errors?.['required']">
          enter your login
        </span>
        <span *ngIf="loginForm.get('login')?.errors?.['minlength']">more than 3 characters</span>
    </span>
  </p>
  <p>
    <label for="password">Password</label>
    <input type="text" id="password" formControlName="password">
  </p>
  <p>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </p>
</form>
