<mat-toolbar color="primary">
  <span>{{ title }} app is running!</span>
  <span class="fill-space"></span>
  <span>
    <a mat-icon-button matTooltip="Home page"
        routerLink="/home" routerLinkActive="is-active">
      <mat-icon>home</mat-icon>
    </a>
  </span>
  <span>
    <a mat-icon-button matTooltip="Consumers"
        routerLink="/consumers" routerLinkActive="is-active">
      <mat-icon>list</mat-icon>
    </a>
  </span>
  <span>
    <a mat-icon-button matTooltip="login page"
        routerLink="/login" [routerLinkActive]="logoutActive">
      <mat-icon>logout</mat-icon>
    </a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
